@model IEnumerable<Team_5.Models.Clinic.Owners>

@{
    ViewData["Title"] = "Owners List";
}

<h1>Lista Proprietari</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Num. Telefono</th>
            <th>CF</th>
            <th>Username</th>
            <th>Azioni</th>
          
        </tr>
    </thead>
    <tbody>
        @foreach (var owner in Model)
        {
            <tr>
                <td>@owner.Name</td>
                <td>@owner.Surname</td>
                <td>@owner.PhoneNumber</td>
                <td>@owner.CF</td>
                <td>@owner.User.Username</td>
                <td>
                    <form asp-action="DeleteOwner" method="post">
                        <input type="hidden" value="@owner.IdOwner" name="id" />
                        <button type="submit" class="btn btn-danger">Elimina</button>
                    </form>
                </td>
               
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="CreateOwner" class="btn btn-success">Crea Proprietario</a>
</div>
