@model List<Team_5.Models.Clinic.Animals>

@{
    ViewData["Title"] = "Animal List";
}

<h2>Lista Animali</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Data di Registrazione</th>
            <th scope="col">Data di Nascita</th>
            <th scope="col">Razza</th>
            <th scope="col">Colore</th>
            <th scope="col">N.Microchip</th>
            <th scope="col">ID Padrone</th>
            <th scope="col">Immagine</th>       
        </tr>
    </thead>
    <tbody>
        @foreach (var animal in Model)
        {
            <tr>
                <td>@animal.Name</td>
                <td>@animal.RegistrationDate.ToString("yyyy-MM-dd")</td>
                <td>@animal.BirthDate.ToString("yyyy-MM-dd")</td>
                <td>@animal.Breed?.Name</td>
                <td>@animal.Color</td>
                <td>@animal.NumMicrochip</td>
                <td>@animal.OwnerId</td>
                <td>
                    @if (animal.Image != null && animal.Image.Length > 0)
                    {
                        <img src="data:image/png;base64,@Convert.ToBase64String(animal.Image)" alt="Animal Image" style="width: 100px; height: auto;" />
                    }
                    else
                    {
                        <span>Nessuna immagine</span>
                    }
                </td>              
            </tr>
        }
    </tbody>
</table>
